MyAgencyVault.VM/Service References/MyAgencyVaultSvc/MyAgencyVault.WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyAgencyVault.WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyAgencyVault.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TempFolderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="FileSizeToBeDeleted" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TempFolderDetails" nillable="true" type="tns:TempFolderDetails" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="NewVersionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsNewVersionRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServerURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewVersionInfo" nillable="true" type="tns:NewVersionInfo" />
</xs:schema>