MyAgencyVault.VM/Service References/MyAgencyVaultSvc/MyAgencyVault.EmailFax2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyAgencyVault.EmailFax" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyAgencyVault.EmailFax" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MailData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommDeptFaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommDeptMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommDeptPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailLogoPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailData" nillable="true" type="tns:MailData" />
</xs:schema>