MyAgencyVault.VM/Service References/MyAgencyVaultSvc/MyAgencyVault.BusinessLibrary.Masters1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyAgencyVault.BusinessLibrary.Masters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyAgencyVault.BusinessLibrary.Masters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IssueResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultsID" type="xs:int" />
      <xs:element minOccurs="0" name="ResultsName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueResults" nillable="true" type="tns:IssueResults" />
  <xs:complexType name="ArrayOfIssueResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssueResults" nillable="true" type="tns:IssueResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssueResults" nillable="true" type="tns:ArrayOfIssueResults" />
  <xs:complexType name="IssueStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueStatus" nillable="true" type="tns:IssueStatus" />
  <xs:complexType name="ArrayOfIssueStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssueStatus" nillable="true" type="tns:IssueStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssueStatus" nillable="true" type="tns:ArrayOfIssueStatus" />
  <xs:complexType name="Region">
    <xs:sequence>
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
      <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Region" nillable="true" type="tns:Region" />
  <xs:complexType name="ArrayOfFileType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileType" nillable="true" type="tns:FileType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileType" nillable="true" type="tns:ArrayOfFileType" />
  <xs:complexType name="FileType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileType" nillable="true" type="tns:FileType" />
  <xs:complexType name="ArrayOfBatchDownloadStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BatchDownloadStatus" nillable="true" type="tns:BatchDownloadStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatchDownloadStatus" nillable="true" type="tns:ArrayOfBatchDownloadStatus" />
  <xs:complexType name="BatchDownloadStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchDownloadStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchDownloadStatus" nillable="true" type="tns:BatchDownloadStatus" />
  <xs:complexType name="ArrayOfLicenseeStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LicenseeStatus" nillable="true" type="tns:LicenseeStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLicenseeStatus" nillable="true" type="tns:ArrayOfLicenseeStatus" />
  <xs:complexType name="LicenseeStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseeStatus" nillable="true" type="tns:LicenseeStatus" />
  <xs:complexType name="ArrayOfPayorToolIncomingFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayorToolIncomingFieldType" nillable="true" type="tns:PayorToolIncomingFieldType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayorToolIncomingFieldType" nillable="true" type="tns:ArrayOfPayorToolIncomingFieldType" />
  <xs:complexType name="PayorToolIncomingFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" name="IncomingFieldID" type="xs:int" />
      <xs:element minOccurs="0" name="incomingFieldName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayorToolIncomingFieldType" nillable="true" type="tns:PayorToolIncomingFieldType" />
  <xs:complexType name="ArrayOfPayorToolLearnedlFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayorToolLearnedlFieldType" nillable="true" type="tns:PayorToolLearnedlFieldType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayorToolLearnedlFieldType" nillable="true" type="tns:ArrayOfPayorToolLearnedlFieldType" />
  <xs:complexType name="PayorToolLearnedlFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" name="learnFieldID" type="xs:int" />
      <xs:element minOccurs="0" name="learnFieldName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayorToolLearnedlFieldType" nillable="true" type="tns:PayorToolLearnedlFieldType" />
  <xs:complexType name="ArrayOfPolicyIncomingPaymentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyIncomingPaymentType" nillable="true" type="tns:PolicyIncomingPaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyIncomingPaymentType" nillable="true" type="tns:ArrayOfPolicyIncomingPaymentType" />
  <xs:complexType name="PolicyIncomingPaymentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymenProcedureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyIncomingPaymentType" nillable="true" type="tns:PolicyIncomingPaymentType" />
  <xs:complexType name="ArrayOfPolicyIncomingScheduleType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyIncomingScheduleType" nillable="true" type="tns:PolicyIncomingScheduleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyIncomingScheduleType" nillable="true" type="tns:ArrayOfPolicyIncomingScheduleType" />
  <xs:complexType name="PolicyIncomingScheduleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyIncomingScheduleType" nillable="true" type="tns:PolicyIncomingScheduleType" />
  <xs:complexType name="ArrayOfPolicyMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyMode" nillable="true" type="tns:PolicyMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyMode" nillable="true" type="tns:ArrayOfPolicyMode" />
  <xs:complexType name="PolicyMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyMode" nillable="true" type="tns:PolicyMode" />
  <xs:complexType name="ArrayOfPolicyOutgoingScheduleType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyOutgoingScheduleType" nillable="true" type="tns:PolicyOutgoingScheduleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyOutgoingScheduleType" nillable="true" type="tns:ArrayOfPolicyOutgoingScheduleType" />
  <xs:complexType name="PolicyOutgoingScheduleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyOutgoingScheduleType" nillable="true" type="tns:PolicyOutgoingScheduleType" />
  <xs:complexType name="ArrayOfPolicyStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyStatus" nillable="true" type="tns:PolicyStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyStatus" nillable="true" type="tns:ArrayOfPolicyStatus" />
  <xs:complexType name="PolicyStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyStatus" nillable="true" type="tns:PolicyStatus" />
  <xs:complexType name="ArrayOfPolicyTerminationReason">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyTerminationReason" nillable="true" type="tns:PolicyTerminationReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyTerminationReason" nillable="true" type="tns:ArrayOfPolicyTerminationReason" />
  <xs:complexType name="PolicyTerminationReason">
    <xs:sequence>
      <xs:element minOccurs="0" name="TerminationReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminationReasonId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyTerminationReason" nillable="true" type="tns:PolicyTerminationReason" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Region" nillable="true" type="tns:Region" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegion" nillable="true" type="tns:ArrayOfRegion" />
  <xs:complexType name="ArrayOfSystemConstant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemConstant" nillable="true" type="tns:SystemConstant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemConstant" nillable="true" type="tns:ArrayOfSystemConstant" />
  <xs:complexType name="SystemConstant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemConstant" nillable="true" type="tns:SystemConstant" />
  <xs:complexType name="ArrayOfZip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zip" nillable="true" type="tns:Zip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZip" nillable="true" type="tns:ArrayOfZip" />
  <xs:complexType name="Zip">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zip" nillable="true" type="tns:Zip" />
  <xs:complexType name="ArrayOfPayorToolMaskedFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayorToolMaskedFieldType" nillable="true" type="tns:PayorToolMaskedFieldType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayorToolMaskedFieldType" nillable="true" type="tns:ArrayOfPayorToolMaskedFieldType" />
  <xs:complexType name="PayorToolMaskedFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaskName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="maskFieldID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayorToolMaskedFieldType" nillable="true" type="tns:PayorToolMaskedFieldType" />
  <xs:complexType name="PolicyDetailMasterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IncomingAdvanceScheduleTypes" nillable="true" type="tns:ArrayOfPolicyIncomingScheduleType" />
      <xs:element minOccurs="0" name="IncomingPaymentTypes" nillable="true" type="tns:ArrayOfPolicyIncomingPaymentType" />
      <xs:element minOccurs="0" name="IssueCategories" nillable="true" type="tns:ArrayOfIssueCategory" />
      <xs:element minOccurs="0" name="IssueReasons" nillable="true" type="tns:ArrayOfIssueReasons" />
      <xs:element minOccurs="0" name="IssueResults" nillable="true" type="tns:ArrayOfIssueResults" />
      <xs:element minOccurs="0" name="IssueStatuses" nillable="true" type="tns:ArrayOfIssueStatus" />
      <xs:element minOccurs="0" name="LearnedMasterIncomingPaymentTypes" nillable="true" type="tns:ArrayOfPolicyIncomingPaymentType" />
      <xs:element minOccurs="0" name="LearnedMasterPaymentsModes" nillable="true" type="tns:ArrayOfPolicyMode" />
      <xs:element minOccurs="0" name="Modes" nillable="true" type="tns:ArrayOfPolicyMode" />
      <xs:element minOccurs="0" name="OutgoingAdvanceScheduleTypes" nillable="true" type="tns:ArrayOfPolicyOutgoingScheduleType" />
      <xs:element minOccurs="0" name="Statuses" nillable="true" type="tns:ArrayOfPolicyStatus" />
      <xs:element minOccurs="0" name="TerminationReasons" nillable="true" type="tns:ArrayOfPolicyTerminationReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyDetailMasterData" nillable="true" type="tns:PolicyDetailMasterData" />
  <xs:complexType name="ArrayOfIssueCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssueCategory" nillable="true" type="tns:IssueCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssueCategory" nillable="true" type="tns:ArrayOfIssueCategory" />
  <xs:complexType name="IssueCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueCategory" nillable="true" type="tns:IssueCategory" />
  <xs:complexType name="ArrayOfIssueReasons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssueReasons" nillable="true" type="tns:IssueReasons" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssueReasons" nillable="true" type="tns:ArrayOfIssueReasons" />
  <xs:complexType name="IssueReasons">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReasonsID" type="xs:int" />
      <xs:element minOccurs="0" name="ReasonsName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueReasons" nillable="true" type="tns:IssueReasons" />
  <xs:complexType name="ServiceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceProduct" nillable="true" type="tns:ServiceProduct" />
  <xs:complexType name="ServiceChargeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceChargeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceChargeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceChargeTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceChargeType" nillable="true" type="tns:ServiceChargeType" />
  <xs:complexType name="PayorToolAvailablelFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EquivalentDeuField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EquivalentIncomingField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EquivalentLearnedField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldDiscription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldID" type="xs:int" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="canDeleted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayorToolAvailablelFieldType" nillable="true" type="tns:PayorToolAvailablelFieldType" />
  <xs:complexType name="ArrayOfPayorToolAvailablelFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayorToolAvailablelFieldType" nillable="true" type="tns:PayorToolAvailablelFieldType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayorToolAvailablelFieldType" nillable="true" type="tns:ArrayOfPayorToolAvailablelFieldType" />
  <xs:complexType name="ComDeptSupport">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ComDeptSupport" nillable="true" type="tns:ComDeptSupport" />
  <xs:complexType name="ArrayOfComDeptSupportData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComDeptSupportData" nillable="true" type="tns:ComDeptSupportData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComDeptSupportData" nillable="true" type="tns:ArrayOfComDeptSupportData" />
  <xs:complexType name="ComDeptSupportData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComDeptSupportData" nillable="true" type="tns:ComDeptSupportData" />
  <xs:complexType name="ArrayOfServiceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceProduct" nillable="true" type="tns:ServiceProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceProduct" nillable="true" type="tns:ArrayOfServiceProduct" />
  <xs:complexType name="ArrayOfServiceChargeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceChargeType" nillable="true" type="tns:ServiceChargeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceChargeType" nillable="true" type="tns:ArrayOfServiceChargeType" />
</xs:schema>