MyAgencyVault.VM/Service References/MyAgencyVaultSvc/service7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyAgencyVault.BusinessLibrary" />
  <xs:complexType name="JSONResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyAgencyVault.BusinessLibrary" minOccurs="0" name="ImportStatus" nillable="true" type="q1:Benefits_PolicyImportStatus" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JSONResponse" nillable="true" type="tns:JSONResponse" />
  <xs:complexType name="ListResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyAgencyVault.BusinessLibrary" minOccurs="0" name="CarrierList" nillable="true" type="q2:ArrayOfCarrierObject" />
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyAgencyVault.BusinessLibrary" minOccurs="0" name="PayorList" nillable="true" type="q3:ArrayOfPayorObject" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListResponse" nillable="true" type="tns:ListResponse" />
  <xs:complexType name="AddUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyAgencyVault.BusinessLibrary" minOccurs="0" name="ImportUsersStatus" nillable="true" type="q4:Benefits_UserResponseStatus" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddUserResponse" nillable="true" type="tns:AddUserResponse" />
</xs:schema>